# Terraform
.terraform/
*.tfstate
*.tfstate.*            # zálohy, lock info apod.
.crash
crash.*.log
*.tfvars
terraform.tfvars.json
*.tfplan                # výstupy z terraform plan -out

# override soubory (lokální úpravy)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Uživatelské configy
.terraformrc
terraform.rc
